:root{
  --Base_Colour: #191e21;
  /* --Accent_Colour: #fff5fc; */
  --Accent_Colour: #FFFFF1;
  /* --Primary_Colour: #E3D5BB; */
  /* --Primary_Colour: #DDFFF7; */
  /* --Primary_Colour: #0F7173; */
  --Primary_Colour: #0A3E38;
  --Secondary_Colour: #157A6E;
  /* scroll-behavior: smooth; */
}
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
  font-family: 'Hubot Sans';
  src:
    url('/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Mona Sans','Hubot Sans','Roboto','Montserrat Alternates','Poppins' ,sans-serif;
}
video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
}
img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    pointer-events: none;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: fit-content;
    /* min-height: max(20svw, 200px);     */
    width: 100%;
    background: transparent;
    background-position: center;
    background-size: cover;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    overflow-x: hidden;
}
body .resize-animation-stopper{
  transition-duration: 0ms  ;
}
.TopBanner{
   position: relative;
   z-index: 3;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   /* height: 5.4vh; */
   height: 42px;
   top: 0%;
   width: 100%;
   padding-top: 1em;
   /* background-color: #38227f; */
   background-color: var(--Base_Colour);
   background-position: center;
   background-size: cover;
}
/* @media only screen and (max-width: 850px) {
  .TopBanner{
    justify-content: center;
  }
  .TopBanner ul{
    margin-left: 0;
  }
  .TopBanner ul li{
    margin-left: 1em;
    margin-right: 1em;
  }
} */
.TopText{
    z-index: 1;
    font-size: 1em;
    font-weight: 420;
    /* color: #fff; */
    color: var(--Accent_Colour);
    text-align: center;
    opacity: 60%;
    transition: 0.2s;
    padding: 0.1em 0.4em 0.1em;
}
.TopText:hover {
    /* color: rgba(255, 245, 252, 0.6); */
    opacity: 100%;
}
ul{
    display: flex;
    width: fit-content;
    margin-left: 1.7em;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li{
    position: relative;
    list-style: none;
    z-index: 1;
    margin-left: 2em;
    margin-right: 0;
}
li a {
    position: relative;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    width: 100%;
    text-align: center;
}
a:focus{
    outline: 2px solid rgba(255, 245, 252, 0.3);
}
.TopContainer{
    background: transparent;
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    min-height: fit-content;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-items: center; */
    /* border: 2px solid rgba(6,1,23, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(30px); */
}
.BackButton{
  width: 50px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.MainTextHolder a{
  width: 50px;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.BackButton img{
  object-fit: fill;
  position: relative;
  width: 50px;
  height: 50px;
  display: none;
}

.MainTextHolder{
    position: relative;
    background: transparent;
    z-index: 1;
    width: 80%;
    left: 0;
    margin-top: 8em;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes onLoad{
    0%{ transform: translateY(-100%);}
    100%{ transform: translateY(150%);}
}
.MainText{
    font-size: max(28px, min(4.8rem, 4.7vw));
    z-index: 1;
    padding: 0 0.5em 0;
    letter-spacing: -1.3px;
    position: relative;
    /*transform: translateY(100%);
    transition: 1s;*/
    /*animation: onLoad 1s ease-in-out 0s 1 normal forwards;*/
    /*animation-name: onLoad;
    animation-duration: 1s;
    animation-fill-mode: forwards;*/
}
.MainText h2{
    font-size: 2em;
    color: var(--Accent_Colour);
    font-weight: 700; 
    text-align: center;
    font-family: 'Hubot Sans';
}
.TaglineContainer{
  width: fit-content;
  height: fit-content;
  display: flex;
  z-index: 20;
  transform: translateX(calc(min(4.8rem, 4.4vw) * 7));
  /* padding: 0.5em 1.5em;
  border-radius: calc(1em + 16px); */
  /* margin-bottom: 2em; */
  /* background-color: rgba(221, 255, 247, 0.2); */
}
.Tagline{
  position: relative;
  font-weight: 450;
  color: var(--Accent_Colour);
  text-align: center;
  opacity: 0.8;
  font-style: italic;
}
.IntroductionBox{
    /* min-width: 200px;
    max-width: 65vw; */
    width: max(200px, 80vw);
    display: flex;
    margin-top: 4em;
    margin-bottom: 4em;

}
.IntroductionText{
    font-weight: 400;
    font-size: max(20px, 3.7vw);
    color: var(--Accent_Colour);
    opacity: 0.7;
    text-align: center;
}
.MainImgContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VideoContainer{
  width: 90%;
  aspect-ratio: 1920/1080;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 20%;
  background-size: cover;
  /* border-radius: 16px 0 0 16px; */
  /* border-radius: 0 16px 16px 0; */
  border-radius: 16px;
  overflow: hidden;
  z-index: 0;
  position: relative;
  filter: brightness(100%);
}
.VideoContainer .Sizer{
  max-width: 100%;
  max-height: 100%;
}
.ImgContainer{
  width: 100%;
  aspect-ratio: 600/210;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 20%;
  background-size: cover;
  /* border-radius: 16px 0 0 16px; */
  /* border-radius: 0 16px 16px 0; */
  /* border-radius: 16px; */
  overflow: hidden;
  z-index: 0;
  position: relative;
  filter: brightness(100%);
}
.ImgContainer .Sizer{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;  
}
.ImgContainer .Sizer img{
  top: -65%;
  left: -12%;
  width: 120%;
  position: absolute;
}
.ImgContainer .Sizer.A img{
  top: -20.2%;
  left: -5%;
  width: 110%;
  position: absolute;

  filter: brightness(60%); 
}
.ImgContainer .Sizer.B img{
  top: -35%;
  left: -12%;
  width: 120%;
  position: absolute;
}
.CardContainer{
  width:100%;
  height: var(--ContainerHeight);
}
.Card{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
  z-index: 5;
  position: absolute;
}
.Card.A{
  top: var(--OffsetHeight);
  width: max(20vw, 150px);
  aspect-ratio: 400/500;
  rotate: -7deg;
  filter: brightness(80%);
  right: 12%;
}
.Card.A .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.A img{
  left: -115%;
  top: -20%;
  width: 300%;
  /* width: max(150vw, calc(170px * (150/23))); */
}
.Card.B{
  top: var(--OffsetHeight);
  width: max(22vw, 170px);
  aspect-ratio: 325/295;
  rotate: 9deg;
  filter: brightness(80%);
  left: 7%;
}
.Card.B .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.B img{
  left: -20%;
  top: -2%;
  /* width: max(150vw, calc(170px * (150/23))); */
  width: 130%
}
.Card.C{
  top: var(--OffsetHeight);
  width: max(25vw, 170px);
  aspect-ratio: 820/650;
  rotate: 5deg;
  filter: brightness(80%);
  left: 8%;
}
.Card.C .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.C video{
  left: -50%;
  top: -20%;
  width: 200%;
}
.Card.D{
  top: var(--OffsetHeight);
  width: max(25vw, 170px);
  aspect-ratio: 820/650;
  rotate: -7deg;
  filter: brightness(80%);
  right: 10%;
}
.Card.D .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.D video{
  left: -48%;
  top: -20%;
  width: 200%;
}
.Card.E{
  top: var(--OffsetHeight);
  width: max(24vw, 170px);
  aspect-ratio: 825/585;
  rotate: 4.6deg;
  filter: brightness(80%);
  left: 10%;
}
.Card.E .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.E video{
  left: -45%;
  top: -7%;
  width: 180%;
}
.Card.F{
  top: var(--OffsetHeight);
  width: max(23vw, 170px);
  aspect-ratio: 300/215;
  rotate: -14deg;
  filter: brightness(80%);
  right: 12%;
}
.Card.F .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.F img{
  left: -17%;
  top: 0%;
  width: 120%;
}
.Card.G{
  top: var(--OffsetHeight);
  width: max(17vw, 150px);
  aspect-ratio: 400/500;
  rotate: 8deg;
  filter: brightness(80%);
  left: 14%; 
}
.Card.G .Sizer{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Card.G img{
  left: -0%;
  top: -0%;
  width: 100%;
  /* width: max(150vw, calc(170px * (150/23))); */
}

.CardContainer img{
  /* max-width: 100%;
  max-height: 100%; */
  position: absolute;
  object-fit: cover;
}
.CardPop{
  width: max(300px, 40vw);
  height: fit-content;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CardPop.A{
  position: absolute;
  left: 13%;
  top: 15%;
}
.CardPop.B{
  position: absolute;
  left: 47%;
  top: 66%;
}
.CardPop.C{
  position: absolute;
  left: 40%;
  top: 10%;
}
.CardPop.D{
  position: absolute;
  left: 16%;
  top: 38%;
}
.CardPop.E{
  position: absolute;
  left: 43%;
  top: 68%;
}
.CardPop.F{
  position: absolute;
  left: 13%;
  top: 15%;
}
.CardPop.G{
  position: absolute;
  left: 47%;
  top: 66%;
}


.CardPop .CardText{
  color: var(--Accent_Colour);
  font-weight: 500;
  font-size: max(20px, 2.25vw);
  font-family: 'Hubot Sans';
  text-align: center;
}
.CardPop .CardInfo{
  color: var(--Accent_Colour);
  font-weight: 300;
  font-size: max(13.3px,1.5vw);
  font-family: 'Hubot Sans';
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  /* .Card.A{
    right: 12%;
  }
  .Card.B{
    left: 6%;
  } */
}
@media only screen and (max-width: 900px) {
  .MainTextHolder{
    width: 100%;
  }
  .TaglineContainer{
    transform: none;
  }
  .ImgContainer{
    aspect-ratio: 720/420;
  }
  .ImgContainer .Sizer img{ 
    top:10%;
  }
  .ImgContainer .Sizer.B img{ 
    top:10%;
  }
  .CardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .Card{
    position: relative;
    margin: 4em;
  }
  .Card.A{
    width: max(65vw, 300px);
    aspect-ratio: 900/350;
    right: 0;
    top: 0;
    rotate: -4deg;
  }
  .Card.A img{
    left: -115%;
    top: -200%;
    width: 300%;
    /* width: max(150vw, calc(170px * (150/23))); */
  }
  .Card.B{
    width: max(50vw, 180px);
    top: 0;
    left: 0;
    margin-bottom: 80px;
  }
  .Card.B img{
    left: -20%;
    top: -2%;
    /* width: max(150vw, calc(170px * (150/23))); */
    width: 130%
  }
  .Card.C{
    width: max(45vw, 180px);
    top: 0;
    left: 0;
  }
  .Card.D{
    width: max(48vw, 180px);
    top: 0;
    left: 0;
  }
  .Card.E{
    width: max(70vw, 180px);
    aspect-ratio: 800/350;
    top: 0;
    left: 0;
    margin-bottom: 80px;
  }
  .Card.E video{
    left: -17%;
    top: -31%;
    width: 130%;
  }
  .Card.F{
    width: max(48vw, 200px);
    top: 0;
    left: 0;
  }
  .Card.G{
    width: max(32vw, 140px);
    top: 0;
    left: 0;
  }
  .CardPop{
    margin: 2em 0;
  }
  .CardPop.A{
    position: relative;
    left: 0;
    top: 0;

  }
  .CardPop.B{
    position: relative;
    left: 0;
    top: 0;
  }
  .CardPop.C{
    position: relative;
    left: 0;
    top: 0;
  }
  .CardPop.D{
    position: relative;
    left: 0;
    top: 0;
  }
  .CardPop.E{
    position: relative;
    left: 0;
    top: 0;
  }
  .CardPop.F{
    position: relative;
    left: 0;
    top: 0;
  }
  .CardPop.G{
    position: relative;
    left: 0;
    top: 0;
  }
}
.ContactButton{
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 1em 1.5em;
  border-radius: calc(1em + 16px);
  margin-bottom: 64px;
  background-color: var(--Secondary_Colour);
  transition: 0.4s;
  opacity: 1;
}
.ContactButton:hover{
  cursor: pointer;
  filter: brightness(150%);
}
.TopContainer a:focus{
  cursor: pointer;
  filter: brightness(150%);
}
.TopContainer a{
  cursor: pointer;
  font-weight: 650;
  font-size: 1em;
  font-family: 'Hubot Sans';
  letter-spacing: -0.2px;
  color: var(--Base_Colour);
  text-align: center;
  text-decoration: none;
  outline: none;
}
@media only screen and (max-width: 650px) {
  /* .IntroductionBox{
    display: none;
  } */
  .MainTextHolder{
    margin-top: 0;
  }
  .TopBanner ul{
    display: none;
  }
  .BackButton img{
    display: initial;
  }
}
.CVMainContainer{
  width: min(700px, 70vw);
  height: fit-content;
  margin: 6em 0 8px 0;
}
.CVMain h2{
    font-weight: 700;
    font-size: 3em;
    color: var(--Accent_Colour);
    text-align: center;
}
.CVContainer{
  width: min(600px, 70vw);
  height: fit-content;
  margin-bottom: 64px;
}
.CoreValues{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Accent_Colour);
    text-align: center;
}
.ActionContainer{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
.ActionContainer a{
  outline: none;
  text-decoration: none;
  /* transition: 0.4s; */
}
.DesignContainer{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
}
.DesignContainer a{
  outline: none;
  text-decoration: none;
  /* transition: 0.4s; */
}
.DesignContainer a:hover, .DesignContainer a:focus{
  cursor: pointer;
  filter: brightness(150%);
}
.DesignContainer .Button{
  background-color: var(--Secondary_Colour);
}
.Button{
  width: fit-content;
  height: fit-content;
  background-color: var(--Primary_Colour);
  border-radius: calc(1em + 16px);
  padding: 1em 2em;
  margin: 0 16px;
  transition: 0.4s;
}
/* .Button:hover{
  cursor: pointer;
  filter: brightness(150%);
} */
.ActionContainer a:hover,.ActionContainer a:focus{
  cursor: pointer;
  filter: brightness(150%);
}

.DesignContainer .ButtonText{
  color: var(--Base_Colour);
}
.ButtonText{
  font-weight: 700;
  font-size: 1em;
  color: var(--Accent_Colour);
  text-align: center;
  font-family: 'Hubot Sans';
  outline: none;
  text-decoration: none;
}
.ProjectsBG{
    /* background: rgba(18, 9, 50, 1);     */
    background: var(--Base_Colour);
}
.ContactContainer{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 152px;
  margin-top: 152px;
  z-index: 20;
}
.ContactText{
  font-weight: 450;
  font-size: 2em;
  color: var(--Accent_Colour);
  text-align: center;
}
.ContactText a{
  font-weight: 200;
  font-size: 1em;
  color: var(--Accent_Colour);
  text-align: center;
  font-family: 'Hubot Sans';
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.ContactText a:hover{
  opacity: 0.8;
}
.CRContainer{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 0 0 2em 0;
}
.Copyright{
    font-weight: 400;
    color: var(--Accent_Colour);
    text-align: center;
}

.PrimaryBG{
    /* background: #fff5fc; */
    background-color: var(--Primary_Colour);
}
.SecondaryBG{
  /* background: #fff5fc; */
  background-color: var(--Secondary_Colour);
}
.BaseBG{
    background: #191e21;
}
.white{
    background: #fff
}